<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--
        Configure your application settings in appsettings.json.
        Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
    -->

    <system.web>
        <httpCookies httpOnlyCookies="true" requireSSL="true" />
        <httpRuntime enableVersionHeader="false"/>
    </system.web>

    <system.webServer>
        <urlCompression doDynamicCompression="false" dynamicCompressionBeforeCache="false" />

        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
        </handlers>

        <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>

        <httpProtocol>
            <customHeaders>
                <clear />
                <remove name="X-Powered-By" />
                <add name="Content-Security-Policy" value="default-src 'self';script-src 'self' 'unsafe-inline';style-src 'self' 'unsafe-inline';font-src 'self';connect-src 'self';img-src 'self';frame-src 'self'" />
                <add name="Referrer-Policy" value="origin" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Download-Options" value="noopen" />
                <add name="X-Frame-Options" value="Deny" />
                <add name="X-XSS-Protection" value="1; mode=block" />
            </customHeaders>
        </httpProtocol>

        <security>
            <requestFiltering removeServerHeader="true"/>
        </security>
    </system.webServer>
</configuration>
