# Build results.
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Code coverage.
*.dotCover

# NuGet package.
nuget/

# Open Cover report.
coverage.xml

# Spelling cache.
.cspellcache

# Claude.
.claude/
